body { 
    margin: 0; 
    overflow: hidden; 
    background: black; 
    display: flex; 
    color: white; 
    height: 100vh; 
    font-family: 'Montserrat', sans-serif;
}
canvas { display: block; }
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    transition: left 1s, top 1s; /* Smooth transition */
}
.margin {
    width: 15%;
    background-color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 10; /* Ensure the sidebar is in front */
    position: relative; /* Ensure the sidebar is in front */
    font-size: 1.5em; /* Increase font size */
}
.legend {
    background: white;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.2em; /* Increase font size */
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.container {
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.details {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}